src/main/app/facilityregistrymock.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <flow name="facilityRegistryMockFlow1" doc:name="facilityRegistryMockFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8000" doc:name="HTTP"/>
        <logger message="Recieved Message: #[groovy: message.toString();]" level="INFO" doc:name="Logger"/>
        <jersey:resources doc:name="MockService">
            <component class="org.jembi.rhea.mocks.FacilityRegistryMockService"/>
        </jersey:resources>
    </flow>
</mule>
